:root {
    --primary-color: rgb(154, 34, 201);
    --secondary-color: rgb(186, 46, 190);
    --player-one-color: rgb(0, 89, 255);
    --player-two-color: rgb(255, 98, 98);

    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body, h1, h2, h3, p {
    margin: 0;
}

.p1-color {
    color: var(--player-one-color);
}

.p2-color {
    color: var(--player-two-color);
}

.main-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.title {
    padding: 25px;
    font-size: 5rem;
    color: var(--primary-color);
    text-shadow: 0px 5px rgb(94, 27, 170);
}
.alt-color {
    color: var(--secondary-color);
}

.button-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

.control-btn {
    font-size: 1.5rem;
    padding: 5px 25px;
    border: 2px black solid;
    border-radius: 50px;
    color: white;
    background-color: var(--primary-color);
    cursor: pointer;
}
.control-btn:hover {
    background-color: var(--secondary-color);
}

.player-info {
    display: flex;
    align-items: center;
    gap: 50px;
}

.player-symbol {
    font-size: 3rem;
    font-weight: bold;
}

.inactive {
    opacity: .25;
}

.game-grid {
    display: grid;
    width: min(500px, 75vw);
    height: min(500px, 75vw);
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.cell {
    font-size: 5rem;
    font-weight: bold;
    background-color: white;
}
.empty:hover {
    background-color: aliceblue;
    cursor: pointer;
}
.empty:active {
    background-color: rgb(218, 238, 255);
}
.p2-active .empty:hover {
    background-color: rgb(255, 240, 240);
}
.p2-active .empty:active {
    background-color: rgb(255, 218, 218);
}

.score-section {
    text-align: center;
}

.score-section > h2 {
    margin: 25px;
}

.score-container {
    display: flex;
    gap: 50px;
}

.score > p {
    font-size: 2rem;
}